<a href="https://colab.research.google.com/github/virtualandy/ai-camp-notes/blob/main/lessons/2/ai_camp_lesson_2_House_Prices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [ ]:
# Read the file
file_location = "./sample_data/housing.csv"
data = pd.read_csv(file_location)
# Visuailze the dataset
data.head()

   longitude  latitude  ...  median_house_value  ocean_proximity
0    -122.23     37.88  ...            452600.0         NEAR BAY
1    -122.22     37.86  ...            358500.0         NEAR BAY
2    -122.24     37.85  ...            352100.0         NEAR BAY
3    -122.25     37.85  ...            341300.0         NEAR BAY
4    -122.25     37.85  ...            342200.0         NEAR BAY

[5 rows x 10 columns]

In [ ]:
# Label column is 'median_house_value' for this dataset
label = 'median_house_value'

In [ ]:
# Rearrage the dataset columns
cols = data.columns.tolist()
colIdx = data.columns.get_loc(label)
# Do nothing if the label is in the 0th position
# Otherwise, change the order of columns to move label to 0th position
if colIdx != 0:
    cols = cols[colIdx:colIdx+1] + cols[0:colIdx] + cols[colIdx+1:]
# Change the order of data so that label is in the 0th column
modified_data = data[cols]

In [ ]:
# One hot encode the categorical columns
from sklearn.preprocessing import OneHotEncoder
from scipy import sparse
cat_columns = ['ocean_proximity']
one_hot_encode_model = OneHotEncoder(handle_unknown='ignore').fit(modified_data[cat_columns])
new_features = one_hot_encode_model.transform(modified_data[cat_columns])
new_feature_names = one_hot_encode_model.get_feature_names(cat_columns)
if (sparse.issparse(new_features)):
  new_features = new_features.toarray()
dataframe = pd.DataFrame(new_features, columns=new_feature_names)
modified_data = modified_data.drop(cat_columns, axis=1)
modified_data = pd.concat([modified_data, dataframe], axis=1)

In [ ]:
# Write the dataset as a csv
modified_data.to_csv('./sample_data/housing_modified.csv', index=False, header=False)